.header, .subheader {
    position: absolute;
  }
  
  .header.small {
    position: relative;
  }
  
  /* .test{
    text-align: center;
    width: 320px;
    height: 100px; */
  body{
    margin:0;
  }
  
  .off-screen{
    transform: translate(100vw,0vh);
  }
  .img{
    width: 100px
  }
  
  .app-name{
    width: 100%;
    text-align: center;
  
  }
  
  .app-name__container{
    width: 100vw;
    position: absolute;
    display: flex;
    top: 23%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
  
    /* bottom:60%;
    position: absolute;;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #696969;
    padding: 10%; */
  }
  
  
  .welcome-text{
    /*alignment*/
  
    /* width: 320px;
    height: 100px;
  
    left: calc(50% - 320px/2); */
    bottom:25%;
    position: absolute;;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #696969;
    padding: 10%;
  
  
  
  }
  
  .welcome-header{
    position: absolute;
    width: 247px;
    height: 46px;
    left: 84px;
    top: 50px;
  
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
  
  }
  
  
  
  .bubble {
    position: absolute;
    left: 93px;
    top: 21px;
    width: 135px;
    height: 84px;
    display: table;
  }
  
  .login-button__container{
    position: absolute;
    bottom:13%;
    width:100vw;
  }
  
  
  
  .login-button__row{
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  .login-button {
    position:relative;
    border: 6px solid #377E73;
    box-sizing: border-box;
    border-radius: 35px;
    width: 226px;
    height: 60px;
    margin:10px;
  }
  
  #sign-up.login-button{
    background-color: #377E73;
  }
  
  #sign-in {
    font-family:"Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #377E73;
  }
  
  #sign-up {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
  }
  