.header, .subheader {
    position: absolute;
  }
  
  .header.small {
    position: relative;
  }
  
  /* .test{
    text-align: center;
    width: 320px;
    height: 100px; */
  body{
    margin:0;
  }
  
  .img{
    width: 100px
  }
  
  .app-name{
    width: 100%;
    text-align: center;
  
  }
  
  .app-name__container{
    width: 100vw;
    position: absolute;
    display: flex;
    top: 23%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
  
    /* bottom:60%;
    position: absolute;;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #696969;
    padding: 10%; */
  }
  
  
  .welcome-text{
    /*alignment*/
  
    /* width: 320px;
    height: 100px;
  
    left: calc(50% - 320px/2); */
    bottom:25%;
    position: absolute;;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #696969;
    padding: 10%;
  
  
  
  }
  
  .welcome-header{
    position: absolute;
    width: 247px;
    height: 46px;
    left: 84px;
    top: 50px;
  
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
  
  }
  
  
  
  .bubble {
    position: absolute;
    left: 93px;
    top: 21px;
    width: 135px;
    height: 84px;
    display: table;
  }
  
  .login-button__container{
    position: absolute;
    bottom:13%;
    width:100vw;
  }
  
  
  
  .login-button__row{
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  .login-button {
    position:relative;
    border: 6px solid #377E73;
    box-sizing: border-box;
    border-radius: 35px;
    width: 226px;
    height: 60px;
    margin:10px;
  }
  
  #sign-up.login-button{
    background-color: #377E73;
  }
  
  #sign-in {
    font-family:"Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #377E73;
  }
  
  #sign-up {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
  }
  
  .message-out{
    background: #377E73;
border: 3px solid #377E73;
border-radius: 20px;
  }

  .message-in{
    background: #F2FAF9;
border: 3px solid #377E73;
border-radius: 20px;
  }


  .chat-avatar{
  border-radius: 50%;
  width: 100%;
  }

  .navbar{
    background: #377E73;
    height: 100px;
    padding:0;
    margin-bottom: 40px
  }

  .navbar-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #F2FAF9;
  }

  .navbar-image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .navbar-button{
    background:transparent;
    border: transparent
  }
  
  .class-select-button{
    background: #55BCAC;
    border: 4px solid #377E73;
    box-sizing: border-box;
    border-radius: 25px;
  }
  
  .class-select-small-text{

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    
    color: #F2FAF9;
    
    opacity: 0.78;
  }

  .class-select-medium-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    
    color: #F2FAF9;
    opacity: 0.78;
  }
  
  .class-select-large-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    
    color: #F2FAF9;
  }

  .col-centered{
    float: none;
    margin: 0 auto;
}
.class-select-item{
  margin-bottom: 20px
}
.add-class-select{
  background: #FFFFFF;
border: 1px solid #377E73;
box-sizing: border-box;
border-radius: 8px;
}
.add-class-select-item{
  margin-bottom: 40px
}